.header-purple {
    background-color: #3e446b;
    .logo-header a {
        color: $white !important;
        font-size: 2rem !important;
        font-weight: 400 !important;
    }
    .menu-header
    {
        a {
            color: #f2f2f2;
        }
        a.active,
        a:hover {
            color: $white;
            border-bottom: 3px solid $orange-dark;
        }
    }
    label {
        color: #f2f2f2 !important;
    }
    input {
        border: 1px solid $white !important;
        &:hover,
        &:focus {
            background-color: $white !important;
            color: #333 !important;
        }
    }
    .dropbtn {
        color: $white !important;
        background-color: transparent !important;
    }
}
