/////////////// Menu header
.menu-header {
    display: flex;
    font-size: 0.95rem;
    justify-content: center;
    align-items: center;
    li:first-child{
        position: relative;
        &:hover .post-dropdown{
            display: block;
        }
        .post-dropdown{
            display: none;
            position: absolute;
            z-index: 10;
            right: -14px;
            background: #fff none repeat scroll 0 0;
            border-radius: 0 !important;
            font-size: 14px;
            border: 1px solid #f2f2f2;
            box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
            width: 150px;
            .post-dropdown-item{
                padding: 8px;
                width: 100%;
                &:hover{
                    background-color: #ecebe9;
                    cursor: pointer;
                    color: #0caa41;
                }
            }
        }
    }
    li {
        margin-right: 2rem;
        display: inline;
        position: relative;
        &:last-child {
            margin-right: 0;
        }
        .dropdown-login{
            position: absolute;
            width: 340px;
            right: 0;
            z-index: 2;
            .social-login-container {
                margin-top: 1rem;
                margin-bottom: 0;
                a {
                    padding-bottom: 0;
                }
            }
        }
        .dropdown {
            display: none;
            &.dropdown-login {
                .page-auth {
                    .title {
                        display: none;
                    }
                }
            }
        }
        &:hover {
            .dropdown {
                display: block;
            }
        }
    }
    a {
        color: #484848;
        padding: .5rem 0;
        display: inline-block;
        text-align: center;
        font-weight: 500;
        &:hover {
            color: $black;
        }
        &.active {
            color: $black;
            //border-bottom: 2px solid $success;
            margin-bottom: -2px;
        }
    }

    a.employer {
        background: $success;
        color: #fff;
        border-radius: 3px;
        padding: 8px;
        line-height: 20px;
        cursor: pointer;
    }
}

//.dropdown{
//    display: none;
//}
//.right-item:hover{
//    .dropdown{
//        display: block;
//    }
//}
