.new_eat{
    .container{
        padding: 16px 0;
        h4{
            color: #4a4a4a;
            padding: 8px;
            font-size: 18px;
            text-align: center;
        }
        .news{
            display: flex;
            justify-content: center;
            .card{
                margin: 0 7px;
                padding: 0;
                border: 1 solid $color-cecece;
                border-radius: .25rem;
                --border-opacity: 1;
                border-color: #cececd;
                border-color: rgba(206,206,205,var(--border-opacity));
                box-shadow: 0 1px 5px rgba(0,0,0,.1);
                cursor: pointer;

                img{
                    object-fit: cover;

                }
                .card-body{
                    padding: 8px;
                    h5{
                        font-size: 20px;
                        color: #4a4a4a;
                        font-weight: 500;
                    }
                    p{
                    font-size: 12px;
                        margin-bottom: 0;
                    }
                    span{
                        font-size: 11px;
                        color: #939290;
                    }
                }
            }
        }
    }
}
@media (max-width: 767px){
   .new_eat{
       .news{
           flex-direction: column;
           padding: 0 16px;
           .card{
               width: 100% !important;
               margin-left: 0!important;
               margin-right: 0!important;
               margin-bottom: 20px!important;
           }
       }

   }
}
