.steps{
    .container{
        padding: 16px;
    h3{
        margin: 8px 0;
    }
    ul{
        li{
            margin-bottom: 24px;
            font-size: 18px;
            &::before{
                border-radius: 12px;
                background: #4a4a4a;
                counter-increment: mini-step;
                content: counter(mini-step);
                float: left;
                width: 24px;
                height: 24px;
                line-height: 24px;
                font-size: 14px;
                margin: 0 8px 0 0;
                display: inline-block;
                color: #fff;
                text-align: center;
            }

        }
    }
        .image{
            display: flex;
            img{
                width: 160px;
                height: 128px;
                border-radius: 8px;
                &:first-child{
                    margin-right: 8px;
                }
            }
        }
}}
