.#{$la-css-prefix}-times:before { content: la-content($la-times); }
.#{$la-css-prefix}-home:before { content: la-content($la-home); }
.#{$la-css-prefix}-search:before { content: la-content($la-search); }
.#{$la-css-prefix}-plus-circle:before { content: la-content($la-plus-circle); }
.#{$la-css-prefix}-bars:before { content: la-content($la-bars); }
.#{$la-css-prefix}-map-marker:before { content: la-content($la-map-marker); }
.#{$la-css-prefix}-external-link-square:before { content: la-content($la-external-link-square); }
.#{$la-css-prefix}-check-circle:before {content: la-content($la-check-circle);}
.#{$la-css-prefix}-angle-down:before {content: la-content($la-angle-down);}
.#{$la-css-prefix}-edit:before { content: la-content($la-edit); }
.#{$la-css-prefix}-newspaper-o:before { content: la-content($la-newspaper-o); }
.#{$la-css-prefix}-file-text-o:before { content: la-content($la-file-text-o); }
.#{$la-css-prefix}-power-off:before { content: la-content($la-power-off); }
.#{$la-css-prefix}-sign-out:before { content: la-content($la-sign-out); }
.#{$la-css-prefix}-arrow-down:before { content: la-content($la-arrow-down); }
.#{$la-css-prefix}-arrow-left:before { content: la-content($la-arrow-left); }
.#{$la-css-prefix}-arrow-right:before { content: la-content($la-arrow-right); }
.#{$la-css-prefix}-arrow-up:before { content: la-content($la-arrow-up); }
.#{$la-css-prefix}-user:before { content: la-content($la-user); }
.#{$la-css-prefix}-circle:before { content: la-content($la-circle); }
.#{$la-css-prefix}-plus-circle:before { content: la-content($la-plus-circle); }
.#{$la-css-prefix}-minus-circle:before { content: la-content($la-minus-circle); }
.#{$la-css-prefix}-angle-double-down:before { content: la-content($la-angle-double-down); }
.#{$la-css-prefix}-angle-double-left:before { content: la-content($la-angle-double-left); }
.#{$la-css-prefix}-angle-double-right:before { content: la-content($la-angle-double-right); }
.#{$la-css-prefix}-angle-double-up:before { content: la-content($la-angle-double-up); }
.#{$la-css-prefix}-sort-desc:before { content: la-content($la-sort-desc); }
.#{$la-css-prefix}-angle-right:before { content: la-content($la-angle-right); }
.#{$la-css-prefix}-check:before { content: la-content($la-check); }
.#{$la-css-prefix}-star:before { content: la-content($la-star); }
.#{$la-css-prefix}-close:before { content: la-content($la-close); }
.#{$la-css-prefix}-camera:before { content: la-content($la-camera); }
.#{$la-css-prefix}-plus:before { content: la-content($la-plus); }
.#{$la-css-prefix}-dollar:before { content: la-content($la-dollar); }
.#{$la-css-prefix}-clock-o:before { content: la-content($la-clock-o); }
.#{$la-css-prefix}-angle-left:before { content: la-content($la-angle-left); }
.#{$la-css-prefix}-group:before { content: la-content($la-group); }
.#{$la-css-prefix}-ellipsis-h:before { content: la-content($la-ellipsis-h); }
.#{$la-css-prefix}-pencil:before { content: la-content($la-pencil); }
.#{$la-css-prefix}-pencil-square:before { content: la-content($la-pencil-square); }
.#{$la-css-prefix}-pencil-square-o:before { content: la-content($la-pencil-square-o); }
.#{$la-css-prefix}-question-circle:before { content: la-content($la-question-circle); }
.#{$la-css-prefix}-chevron-right:before { content: la-content($la-chevron-right); }
.#{$la-css-prefix}-bookmark:before { content: la-content($la-bookmark); }
.#{$la-css-prefix}-clock-o:before { content: la-content($la-clock-o); }
.#{$la-css-prefix}-user:before { content: la-content($la-user); }
.#{$la-css-prefix}-history:before { content: la-content($la-history); }
.#{$la-css-prefix}-ellipsis-h:before { content: la-content($la-ellipsis-h); }
