$la-font-path: "/fonts" !default;
$la-font-size-base: 16px !default;
$la-line-height-base: 1 !default;
$la-css-prefix: la !default;
$la-border-color: #eee !default;
$la-inverse: #fff !default;
$la-li-width: (20em / 16) !default;
$la-font-name: "LineAwesome" !default;
$la-version: "1.1.";

@function la-content($la-var) {
    @return unquote("\"#{ $la-var }\"");
  }

$la-times: \f342;
$la-home: \f237;
$la-search: \f2eb;
$la-plus-circle: \f2c3;
$la-bars: \f131;
$la-map-marker: \f27d;
$la-external-link-square: \f1d3;
$la-check-circle: \f17c;
$la-angle-down: \f110;
$la-edit: \f1c1;
$la-newspaper-o: \f29c;
$la-file-text-o: \f1ed;
$la-power-off: \f2c6;
$la-sign-out: \f2fc;
$la-arrow-down: \f11f;
$la-arrow-left: \f120;
$la-arrow-right: \f121;
$la-arrow-up: \f122;
$la-user: \f364;
$la-circle: \f18a;
$la-plus-circle: \f2c3;
$la-minus-circle: \f28f;
$la-angle-double-down: \f10c;
$la-angle-double-left: \f10d;
$la-angle-double-right: \f10e;
$la-angle-double-up: \f10f;
$la-sort-desc: \f30c;
$la-angle-right: \f112;
$la-check: \f17b;
$la-star: \f318;
$la-close: \f191;
$la-camera: \f162;
$la-plus: \f2c2;
$la-dollar: \f1bb;
$la-clock-o: \f18f;
$la-angle-left: \f111;
$la-group: \f220;
$la-ellipsis-h: \f1c3;
$la-pencil: \f2b0;
$la-pencil-square: \f2b1;
$la-pencil-square-o: \f2b2;
$la-question-circle: \f2cc;
$la-chevron-right: \f186;
$la-bookmark: \f14f;
$la-clock-o: \f18f;
$la-user: \f364;
$la-history: \f236;
$la-ellipsis-h: \f1c3;
