.steps{
    h3{
        margin-bottom: 8px;
        font-size: 24px;
        color: #4a4a4a;
        font-weight: 500;
    }
    .list-step{
        .group-step{
            //p{
            //    background: #0D0A0A;
            //    width:30px;
            //    height: 30px;
            //    color: #FFFFFF;
            //    border-radius: 50%;
            //    display: block;
            //    &::after{
            //        width: 20px;
            //        height: 20px;
            //        background: #0D0A0A;
            //        position: absolute;
            //    }
            //}
            .item{
                display: flex;
                align-items: center;


                i{
                    margin: 0 8px;
                    color: #cecece;
                    cursor: pointer;
                }
                .left-icon{
                    width: 37px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    .fa-arrows{
                        margin: 4px 10px 0 0;
                    }
                    &::before{
                        border-radius: 12px;
                        background: #4a4a4a;
                        counter-increment: mini-step;
                        content: counter(mini-step);
                        float: left;
                        width: 24px;
                        height: 24px;
                        line-height: 24px;
                        font-size: 14px;
                        margin: 0 8px 0 0;
                        display: inline-block;
                        color: #fff;
                        text-align: center;
                    }
                }

            }
            input{
                width: 100%;
                height: 40px;
                background: #F8F6F2;
                border: none;
            }
            .option{
                font-family: noto-sans, system-ui, -apple-system, Segoe UI, Roboto, Helvetica, arial, sans-serif;
                display: none;
                background: #FFFFFF;
                z-index: 2;
                white-space: nowrap;
                position: absolute;
                top: 40px;
                right: 0;
                border-radius: 8px;
                border: 1px solid #ECEBE9;
                box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
                li{
                    padding: 16px;
                    color: #4a4a4a;
                    letter-spacing: 0.05em;
                    font-size: 0.875rem;
                    &:hover{
                        background: #ecebe9;
                    }
                }
            }

            .file-upload{

                opacity: 0;
            }
            .upload{
                width: 160px;
                height: 128px;
                background: #F8F6F2;
                margin: 8px 0 8px 32px;
                border-radius: 6px;
                position: relative;
                .editor-step{
                    position: absolute;
                    right: 0;
                    bottom: 0;
                    display: flex;
                    visibility: hidden;
                    width: 63px;
                    height: 33px;
                    background-color: #625D5C;
                    margin: 0 4px 12px 0;
                    border-radius: 6px;
                    i{
                        color: #FFFFFF;
                    }
                    input{
                        visibility: hidden;
                        width: 100%;
                        height: 100%;
                    }
                    .delete{
                        padding-left: 7px;
                        border-left: 1px solid #FFFFFF;
                        height: 24px;
                        margin: 4px;
                        margin-right: 23px;
                        /* margin-top: 5px; */
                    }
                }

                .icon-upload-step{
                    position: absolute;
                    transform: translate(-50%,-50%);
                    color: $color-cecece;
                    cursor: pointer;
                    top: 50%;
                    left: 50%;
                }
            }
        }
    }
    button{
        border: none;
        outline: none;
        margin-right: 1rem;
        margin-top: 1rem;
        color: #4A4A4A;
        background: #FFFFFF;
        font-weight: 500;
        margin-left: 50%;
        margin-bottom: 20px;
        font-size: 16px;
    }
}
.image-holder-1{
    img{
        width: 100%;
        height: 128px;
        object-fit: cover;
    }
}
