// Main color
$main-color: #085ff7;
$main-text: #ff5a1f;
$main-text_des: #5f6279;

$sub-text: #6f6f6f;

$color-title: #2d2d2d;
$color-heading: #363636;
$color-subheading: #4a4a4a;
$color-text-menu: #6f6f6f;
$color_company: #909090;
$color-f2: #f2f2f2;
$color-333: #333;

// Colors
$orange-dark: #ff5a1f;
$salary-background: #d1ffef;
$color-cecece:#cecece;
$color-4a4a4a:#4a4a4a;

// Border
$border-main: #d6d6d6;
$border-search: rgba(0,0,0,.05);
$border-orange: #ff5a1f;
