@charset 'UTF-8';
@import "../../../../../../../resources/assets/scss/bootstrap/bootstrap";
@import '../../../../../../../resources/asset_bases/scss/base/form';
@import '../../../../../../../resources/asset_bases/scss/base/card';

// Plugin
@import "../../../../../../../resources/assets/scss/components/modal/modal_custom";
@import "../../../../../../../resources/assets/scss/components/modal/modal_custom_login";

@import "../../../../../../../resources/assets/scss/components/footer/footer";
@import "../../../../../../../resources/assets/scss/components/footer/footer_cockpad";
@import "../../../../../../../resources/assets/scss/components/container";
@import "../../../../../../../resources/assets/scss/components/fillter_category";
@import "../../../../../../../resources/assets/scss/components/profile/user_header";
@import "../../../../../../../resources/assets/scss/components/profile/user_background";
.videos{
    border-bottom: 2px solid #f93;
    font-weight: 600;
}
.box-item{
    margin-top: 10px;
}
.item{
    padding-right: 7px;
    padding-left: 7px;
    margin-bottom: 14px;
}
.thumbnail-wrapper{
    padding-top: 100%;
    background-color: transparent;
    width: 100%;
    position: relative;
    align-items: center!important;
    justify-content: center;
    img{
        object-fit: cover;
        position: absolute;
        width: 100%;
        height: 100%;
        display: block;
        margin: 0 auto;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
}
@media(max-width: 768px) {
    .container {
        width: 100% !important;
    }
    .list-group-menu {
        overflow-x: scroll;
        width: 100%;
    }
    .row-eq-height {
        .col-10 {
            max-width: 100%;
            width: 100%;
            margin: unset;
            flex: unset;
        }

        .collection-item-wrapper {
            padding-left: unset;
            padding-right: unset;
            .author-avatar{
                display: none;
            }
            .content-box{
                width: 100% !important;
                .author-info{
                    .author-avatar-mobile{
                        display: block;
                        margin-right: 10px;
                        img{
                            width: 60px;
                            height: 60px;
                            border-radius: 50%;
                        }
                    }
                }
                .media-wrapper{
                    padding-left: unset;
                    padding-right: unset;
                }
            }
        }
    }
    .item{
        flex: unset;
        max-width: 50%;
    }
}
