.riviu-env{
    background: #fff;
    border-radius: 15px;
    min-height: 100px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 10px;
    padding: 16px 10px 0 10px;
}
.button-write{
    width: 100%!important;
    height: 50px;
    margin: 8px 0 8px 16px;
    p{
        float: left;
        margin-top: 10px;
        margin-left: 10px;
        font-size: 20px;
        font-weight: 700;
    }
    .go-riviu{
        margin-top: 10px;
        margin-right: 18px;
        font-size: 17px!important;
        font-weight: 700!important;
        padding: 4px 16px;
        float: right;
        background: #ffecdf;
        border: 1px solid #ffecdf;
        color: #f60;
        border-radius: 32px;
        transition: all .3s ease-in;
        -moz-transition: .3s all ease-in;
        -webkit-transition: all .3s ease-in;
        font-family: sans-serif;
    }
.media-wrapper{

}
}
@media(max-width: 768px)  {
    .col-8{
        max-width: 100%;
        flex: unset;
    }
}
