.box-register{
  text-align: center;
  background-image: url("/statics/images/banner/banner_bottom_gioi_thieu.png");
  h2{
    font-size: 36px;
    margin-bottom: 0;
  }
  p{
    font-size: 16px;
    margin: 5px 0 20px 0;
  }
  .btn-register{
    width: 200px;
    font-weight: 500;
  }
}

@media (max-width: 575px){
  .box-register{
    .content{
      h2{
        font-size: 30px;
      }
    }
  }
}
