.bottom-header{
    background: #0091ce;
    .main-menu{
        justify-content: space-between;
        display: flex;
        align-items: center;
        margin: auto;
    }
    ul:not(.ul-content) {
        list-style-type: none;
        padding-left: 0;
        margin-bottom: 0;
    }
    .menu-cate{
        display: flex;
        align-items: center;
        position: relative;
        margin-right: 10px;
        height: 40px;
        .menu-search-mb{
            display: none;
        }
        .menu-cate-1{
            padding: 5px 21px 10px;
            position: relative;
            a{
                text-transform: uppercase;
                font-style: normal;
                font-weight: 600;
                font-size: 14px;
                color: #fff;
                display: inline-block;
            }
            &:hover {
                background: #2fa6d8;
            }
        }
        .menu-cate-1:hover .menu-cate-1_drop {
            display: block;
        }
        .menu-cate-1_drop{
            position: absolute;
            z-index: 1;
            background-color: #0091ce;
            top: 100%;
            min-width: 200px;
            display: none;
            left: 0;
            .menu-cate-1{
                padding: 11px 21px 10px;
                position: relative;
                &:hover{
                    background: #2fa6d8;
                }
                a{
                    text-transform: uppercase;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 14px;
                    color: #fff;
                    display: inline-block;
                }
            }
        }
    }
    .menu-action{
        z-index: 1;
        display: flex;
        position: relative;
        right: -46px;
    }
    .menu-search{
        display: block;
        padding: 5px;
        position: relative;
        width: 23px;
        i{
            color: #FFFFFF;
        }
        .search-bar{
            position: absolute;
            z-index: 2;
            display: flex;
            border-radius: 50px;
            outline: none;
            top: 40px;
            right: 0;
            background-color: #0091ce;
            padding: 3px;
            visibility: hidden;
            input{
                outline-style: none;
                border-radius: 15px;
                border: none;
                padding-left: 10px;
                margin-right: 5px;
                width: 200px;
                overflow: visible;
            }
            btn{
                border-radius: 50%;
                border: none;
                background-color: #fc205c;
                color: #fff;
                width: 34px;
                height: 34px;
                text-align: center;
                line-height: 34px;
            }
        }
    }
}
@media (max-width: 767px){
    .bottom-header .main-menu {
      display: none;
    }
}
@media (min-width: 768px) and (max-width: 1024px){
    .bottom-header .main-menu{
        display: none;
    }
}
@media (min-width: 1025px){
    .bottom-header .main-menu{
        white-space: nowrap;
    }
}
