.card {
    width: 280px;
    margin: 0 0 10px;
    //border: 1px solid cadetblue;
    .card-content:hover{
        text-decoration: none;
        box-shadow: 0 0 rgba(0,0,0,.2), 0 0 10px 0 rgba(0,0,0,.19);
    }
    .card-img{
        height: 168px;
        img{
            width: 100%!important;
        }
        //&::after{
        //    content: "";
        //    position: absolute;
        //    left: 0;
        //    right: 0;
        //    bottom: 0;
        //    height: 50px;
        //    background: rgba(0,0,0,.4);
        //    opacity: 0;
        //    transition: all .1s;
        //}
        &:hover .btn-order{
            transform: translate(-50%,-50%) scale(1);
        }
        &:hover .btn-order::after{
            //opacity: 1;
        }
    }
    .card-img:hover:after {
        opacity: 1;
    }
    .btn-order{
        font-size: 18px;
        text-align: center;
        border-radius: 5px;
        background-color: #f37934;
        width: 120px;
        position: absolute;
        top: 25%;
        left: 50%;
        border-color: #f37934;
        padding: 5px 0 6px;
        transform: translate(-50%,-50%) scale(0);
        transition: all .2s;
        z-index: 2;
        //display: none;

    }
}
.card-content{
   &:hover{
       text-decoration: none;
       box-shadow: 0 0 rgba(0,0,0,.2), 0 0 10px 0 rgba(0,0,0,.19);
   }
}
.card-body{
    font-size: 14px;
    color: #252525;
    flex: 1 1 auto;
    padding: 0 15px;
    border-top: 0;
    border-radius: 0 0 5px 5px;
    .card-spec{
        font-size: 16px;
        font-weight: 700;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        border-bottom: 1px solid #ebebeb;
        padding: 8px 12px 9px;
        margin-left: -15px;
        margin-right: -15px;
        display: block;
        color: #f37934;
    }
    h4 + .card-spec + .card-address{
        margin-left: -5px;
        margin-right: -5px;
    }
    .card-name{
        font-weight: 700;
        padding: 6px 0;
        font-size: 14px;
        text-overflow: ellipsis;
        overflow: hidden;
    }
    .card-address ,.card-spec{
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
    .card-info{
        position: relative;
        height: 62px;
        border-top: 1px solid #ebebeb;
        margin-bottom: 10px;
    }
    .card-promo{
        padding: 9px 0 4px;
        font-size: 16px;
        font-weight: 700;
        white-space: nowrap;
        .txt-orangen{
            color: #f37934!important;
        }
        .ml-1{
            margin-left: .25rem!important;
        }
        .card-view-more{
            font-size: 12px;
            color: #959595;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }
    }
}
