.scroll-top {
    display: none;
    position: fixed;
    bottom: 90px;
    right: 20px;
    z-index: 2;
    .content-scroll-top{
        cursor: pointer;
        width: 52px;
        height: 52px;
        background-color: rgb(209,209,209);
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        .circle {
            width: 30px;
            height: 30px;
            background: #2b333d;
            border-radius: 50%;
            img{
                width: 14px;
                height: 13px;
                object-fit: cover;
                display: block;
                margin: 8px auto 0 auto;
            }
        }
    }
}

@media (max-width: 992px) {
    .scroll-top {
        bottom: 105px;
        .content-scroll-top {
            width: 30px;
            height: 30px;
            .circle{
                background: #666;
            }
        }
    }
}
