.categories{
    padding: 10px 0;
}
.title {
    padding-left: 0;
    font-weight: 600;
}

.category {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 16px;

    ul {
        font-size: 14px;
        color: rgba(118, 182, 239, var(--tw-text-opacity));
        font-weight: 600;
        flex-wrap: wrap;

        li {
            padding-right: 8px;
        }

        a {
            color: #76B6EF;
        }
    }
}

.btn-post {
    display: flex;
    margin: 0 auto;
    font-size: 18px;
    cursor: pointer;
    color: #767676;
}
