.btn-view-more{
    margin-top: 22px;
    font-size: 18px;
    color: #fff;
    min-width: 342px;
    height: 41px;
    font-weight: 600;
    background-color: #f37934;
    border-color: #f37934;
    text-align: center;
    span{
        color: #FFFFFF;
    }
}
