.container{
    width: 1125px;
    padding: 0;
}
@media (max-width: 1200px){
    .container {
        max-width: 1110px;
    }
}

@media (max-width: 768px){
    .container {
        width: 100%;
    }
}
@media (max-width: 576px){
    .container {
        max-width: 540px;
    }
}
@media (max-width: 768px) {
    .container {
        max-width: 720px;
    }
}

