.latest_cooksnaps_collection{
    margin-top: 2.5rem;
    h2{
        margin-left: .5rem;
        font-size: 1.25rem;
        font-weight: 500;
        color: #4a4a4a;
    }
    .text-cookpad{
        justify-content: space-between;
        span{
            align-items: center;
        }
        .see-all{
            align-items: center;
            span{
                margin-right:   8px;
            }
        }
    }
}
.list-cooksnaps{
    display: flex;
    .card{
        margin-right: 10px;
    }
    .relative{
        padding: 8px;
        .user{
            border-radius: 50%;
            display: flex;
            margin: 0 auto;
            object-fit: cover;
            margin-top: -35px;
            border: 2px solid white;
        }
    }
    .block{
        img{
            width: 100%;
            border-radius: 8px;
        }
    }
    .absolute{
        padding: .5rem;
        max-width: 100%;
    }
    .block-link{
        cursor: pointer;
        a{
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            padding-top: .25rem;
            margin-top: .5rem;
            font-size: .75rem;
            font-weight: 600;
        }
    }
    .avatar{
        align-items: center;
        margin-top: 4px;
        img{
            border-radius: 50%;
            margin-right: 8px;
            object-fit: cover;
        }
        p{
            font-size: 12px;
        }
    }
}
