.filter-by-keyword {
    &.mt {
        margin-top: 30px;
    }
    h4 {
        font-size: 20px;
        text-transform: uppercase;
        font-weight: 500;
        margin-bottom: 15px;
    }
    .content-group {
        line-height: 1.6;
        font-size: 15px;
        a {
            background: #f1f1f1;
            color: $color-333;
            border-radius: 50px;
            font-weight: 400;
            padding: 8px 10px;
            font-size: 14px!important;
            line-height: 1.6;
            margin-bottom: 10px;
            margin-right: 5px;
            display: inline-block;
            transition: .3s;
            &:hover {
                background: #e5e5e5;
            }
        }
    }
}

@media (max-width: 992px) {
    .filter-by-keyword {
        h4 {
            font-size: 18px;
        }
    }
}
