.box-popup-login,
.box-popup-forget-password,
.box-popup-register,
.box-popup-need-login{
    &.modal{
        max-width: 420px;
        a.close-modal{
            background-image: url("../../../statics/images/icon/close_gray.svg");
            font-size: 18px;
            top: 10px;
            right: 10px;
            background-size: 15px;
        }
        .modal-header{
            background: $white;
            padding: 15px;
            .modal-title{
                display: block;
                text-align: center;
                color: $color-333;
            }
        }
    }
    .social-login-container {
        margin-top: 1rem;
        margin-bottom: 0;
    }
}

@media (max-width: 440px) {
    .modal {
        width: 100%;
    }
}
