.banner-purple
{
    background-color: #3e446b;
    .text-input
    {
        color: #fff;
        &__title {
            color:#fff;

        }
        &__des {
            color:#f2f2f2 !important;
        }
    }
    .wrap-link {
        a {
            color: #f2f2f2 !important;
        }
        span {
            color: #f2f2f2 !important;
        }
    }
    input {
        &:focus {
            background-color: #fff !important;
        }
        background-color: #fff !important;
        border: 1px solid #fff !important;
    }
}

.filter-mb {
    display: none;
}
