.home-social {
    margin-bottom: 40px;
    position: relative;
    padding-top: 40px;
    h2{
        font-size: 26px;
        font-weight: 400;
        margin-bottom: 15px;
    }
    ul{
        display: flex !important;
        overflow: hidden;
        &.off{
            overflow:auto;
            li{
                margin-right: 15px;
            }
        }
        li {
            max-width: 261px;
        }
    }
    .home-social-img {
        margin-bottom: 16px;
        height: 160px;
        img {
            width: 100%;
            height: 100%;
            max-width: 100%;
            object-fit: cover;
        }
    }
    .home-social-link{
        display: flex;
        img{
            margin-right: 5px;
        }
        a {
            width: 204px;
            display: inline-block;
            font-weight: 500;
            font-size: 14px;
            line-height: 20px;
            color: $color-333;
        }
    }
}
