.category-location-container {
    margin-top: 40px;
    .category-container {
        border-right: 1px dotted #c5c5c5;
        margin-top: 10px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        .category-item {
            display: inline-block;
            text-align: center;
            width: 126px;
            padding-bottom: 10px;
            .category-item__icon {
                height: 53px;
                width: 53px;
            }
            .category-item__name {
                font-size: 14px;
                line-height: 20px;
            }
            .category-item__name--mobile {
                display: none;
            }
            .category-item__arrow-right {
                width: 15px;
                height: 15px;
                position: relative;
                top: 10px;
            }
            .category-item__name {
                font-weight: normal;
                margin: 0;
            }
        }
    }
    .location-container {
        padding-left: 25px;
        margin-top: 5px;
        line-height: 25px;
        padding-right: 0;
        flex-direction: row;
        flex-wrap: wrap;
        display: flex;
        .location__link {
            color: #555;
            width: 129px;
            display: block;
        }
        .location__link-text {
            font-size: 14px;
            line-height: 25px;
            margin: 0;
            padding: 0;
            font-weight: normal;
        }
        .location__link-arrow-right {
            width: 9px;
            height: 9px;
            position: relative;
            top: 1px;
        }
        .location__link-all {
            font-size: 12px;
            padding-right: 40px;
        }
    }
}

@media (max-width: 1200px) {
    .category-location-container{
        .location-container{
            .location__link {
                color: #555;
                width: 125px;
                display: block;
            }
        }
    }
}

@media (max-width: 992px) {
    .category-location-container{
        .location-container{
            display: none;
        }
        .category-container{
            border-right: none;
            .category-item {
                width: 138px;
            }
        }
    }
}

@media (max-width: 768px) {
    .category-location-container{
        .category-container{
            .category-item {
                width: 127px;
            }
        }
    }
}

@media (max-width: 494px) {
    .category-location-container{
        .category-container{
            overflow: auto;
            padding: 0;
            margin: 0 15px;
            flex-direction: inherit;
            flex-wrap: initial;
        .category-item {
            max-width: 106px;
            min-width: 106px;
            padding-bottom: 10px;
        }
    }
}
}
