.banner-home {
    padding: 3rem 0;
    .wrap-form {
        display: flex;
        padding-bottom: 1rem;
        margin-left: auto;
        margin-right: auto;
        position: relative;
    }

    .intro {
        line-height: 1.7;
        display: flex;

        .content {
            width: 74%;
        }

        .image {
            width: 26%;
            margin-bottom: 20px;

            img {
                width: 100%;
            }
        }

        h1 {
            font-size: 38px;
            color: $success;
        }

        .des-intro {
            color: $success;
            font-weight: 600;
            font-style: italic;
            font-size: 22px;
        }

        .work-connection {
            color: #212F3F;
            font-size: 16px;
            margin-top: 0px;
            font-weight: 500;
        }

        .btn-cv {
            margin-bottom: 40px;
            margin-top: 20px;

            .upload-cv, .create-cv {
                font-weight: bold;
            }
        }
    }

    .logo-box {
        margin-right: 15px;
        margin-bottom: 5px;
        align-self: flex-end;
        flex: 0 0 15%;

        img {
            width: 100%;
            height: auto;
        }
    }

    .tag-list {
        margin-top: 10px;

        a {
            color: #444;
            margin: 0 20px 15px 0;
            display: inline-block;
            font-size: 16px;

            &:hover {
                color: $success;
            }
        }
    }
}

