.tbnow-place {
    padding-top: 0;

    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 10px;
        right: -18px;
        width: 1180px;
        height: 4px;
        background-color: #f37934;
    }


    .tbnow-title-home {
        margin-left: -5px;
        margin-right: 117px;
        font-size: 21px;
        color: #525252;
        text-transform: uppercase;
        display: flex;
        font-weight: 500;
        align-items: center;
    }



    .col-auto {

    }

    .tbnow-place-select {
        border-color: #d7d7d7;
        border-radius: 5px;
        padding: 7px 69px 7px 6px;
        margin-right: 20px;
    }

    .col-3 {
        padding-right: 0;
        padding-left: 0;
    }

    .card {
        width: 280px;
        margin: 0 0 10px;
        .card-img{
            height: 168px;
            &::after{
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 50%;
                background: rgba(0,0,0,.4);
                opacity: 0;
                transition: all .1s;
            }
            &:hover .btn-order{
                transform: translate(-50%,-50%) scale(1);
            }
            &:hover .btn-order::after{
                //opacity: 1;
            }
        }
        .card-img:hover:after {
            opacity: 1;
        }
        .btn-order{
            font-size: 18px;
            text-align: center;
            border-radius: 5px;
            background-color: #f37934;
            width: 120px;
            position: absolute;
            top: 25%;
            left: 50%;
            border-color: #f37934;
            padding: 5px 0 6px;
            transform: translate(-50%,-50%) scale(0);
            transition: all .2s;
            z-index: 2;
            //display: none;

        }
    }
}
@media(max-width: 768px)  {
    .tbnow-place{
        display: none;
    }
}
@media(min-width: 678px) and (max-width: 1200px){
    .tbnow-place-select{
        display: none;
    }
    .container-show{
        justify-content: center;
        .col-3{
            max-width: 50%;
            margin: 0 10px;
        }
    }
}
