.collection{
    .text-truncate {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    >div{
        justify-content: space-between;
        align-items: center;
    }
    h1{
        font-family: Helvetica;
        font-size: 24px;
        font-weight: 700;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #000;
        display: inline-block;
        position: relative;
        margin: 24px 0 16px 0;
    }
    .collection-item{
        position: relative;
        border-radius: 12px;
        overflow: hidden;
        box-shadow: 0 0 2px 0 rgba(0,0,0,.1), 0 0 2px 0 rgba(0,0,0,.09);
        .br-mark{
            width: 100%;
            height: 100%;
            background-color: rgba(0,0,0,.43922);
            z-index: 1;
            position: absolute;
        }
        .thumbnail-wrapper{
            padding-top: 56.25%;
            background-color: transparent;
            width: 100%;
            position: relative;
            justify-content: center!important;
            align-items: center!important;
            img{
                position: absolute;
                width: 100%;
                height: 100%;
                display: block;
                margin: 0 auto;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
            }
        }
        .title{
            z-index: 4;
            height: 60px;
            position: absolute;
            left: 0;
            bottom: 10px;
            margin: 4px 8px 0 8px;
            h3{
                color: #fff;
                font-weight: 700;
                font-size: 15px;
                white-space: normal;
                padding: 4px 8px;
            }
        }
    }
}
.owl-carousel .owl-nav .owl-prev{
    color: #bbb;
    background: #fff;
    border-radius: 50% !important;
    border: unset;
    outline: unset;
    width: 35px;
    height: 35px;
    top: 25%;
    left: -25px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
}
.owl-carousel .owl-nav .owl-next{
    color: #bbb;
    background: #fff;
    border-radius: 50% !important;
    border: unset;
    outline: unset;
    width: 35px;
    height: 35px;
    top: 25%;
    right: -25px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
}
@media (max-width: 768px){
    .collection{
      h1{
          margin-top: 0;
          line-height: 26px;
          font-size: 15px;
          margin-bottom: 0;
      }
        .viewmore{
            display: none;
        }
    }
}
